name: deploy static website to AWS-S3 - V2
on:
  push:
    branches:
      - main
env:
  AWS_REGION: us-east-1
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4 # Usar v4 es más reciente
        
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4 # Usar v4 es más reciente
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }} # Opcional si usas credenciales temporales
          aws-region: ${{env.AWS_REGION}}
          
      - name: Deploy to AWS S3
        run: aws s3 sync . s3://demo-web-practica-alba --delete
